:root {
    --accent1: darkcyan;
    --accent1-light: lightcyan;
    --accent1-border: 1px solid darkcyan;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

html {
    font-family: "Inter", sans-serif;
    box-sizing: border-box;
    font-size: 12px;
}

header, body {
    max-width: 50rem;
    margin: 2px auto;
    /*padding: 1rem;*/
}

.nav {
    align-self: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background: #eee;
}

.nav__home {
    margin: 0;
}

.nav__item {
    text-decoration: none;
    color: inherit;
    font-size: 120%;
}

.nav__item:hover, .eventnav__item:hover {
    cursor: pointer;
    color: var(--accent1);
    box-shadow: 0 1px 0 0 var(--accent1);
}

.eventnav {
    display: flex;
    flex-direction: row;
    padding: 0.5rem;
    font-size: 1.1rem;
    background: #eee;
    justify-content: space-around;

}

.eventnav__item {
    /*border: #333 1px solid;*/
    /*width: 100%;*/
    margin: auto;
    text-align: center;
    padding: 0rem;
    text-decoration: none;
    color: inherit;
}


.eventnav__item_selected {
    color: var(--accent1);
    text-decoration: underline;
}

.eventlist {
    display: flex;
    flex-direction: column;
}


.event {
    background: none;
    width: 100%;
    border-radius: 6px;
    margin: 0.5rem 0;
    border: var(--accent1-border);
    padding: 10px 20px;
}

.event__button {
    transition: ease-in-out 0.2s;
    text-align: left;
    font: inherit;
}

.event__button:hover {
    background: lightblue;
    transform: translateY(3px);
    /*cursor: pointer;*/
}

.event__title {
    font-size: 1.5rem;
    margin-top: 0.3rem;
}

.event__info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.event__time {
    font-weight: 300;
}

.event__form {
    border-top: 1px darkcyan inset;
    margin-top: 5px;
    padding-top: 5px;
}

.event__count {
    border: 1px #ddd solid;
    max-width: 3em;

}

.event__count:invalid {
    border: 2px solid red;
}

.cars {
    display: flex;
}

.cars__pic {
    width: 20px;
    margin: 5px;
    aspect-ratio: initial;
}
