{% extends 'template.html' %}

{% block content %}
  <section class="eventslist">
    {% for event in events %}
      <section class="event">
        <h1>{{ event["title"] }}</h1>
        <p>{{ event["desc"] }}</p>
        <div class="event__info">
          <time class="events__date" datetime="{{ event["isodate"] }}">{{ event["shortdate"] }} •
            <span class="event__time">{{ event["start"] }}-{{ event["end"] }}</span></time>
          <div class="cars">
            <img class="cars__pic" src="{{ url_for('static', filename='car-svgrepo-com.svg') }}" alt="car image">
            <p class="cars__coverage">24/27</p>
          </div>
        </div>
        <form method="get" class="event__form" action={{ url_for('register') }}>
          <label>kinderen: <input class="event__count" type="text" pattern="[0-9]*"></label>
          <button class="event__button event__button--active">Afwezig</button>
          <button class="event__button">Reserve</button>
          <button class="event__button">Ik kom graag</button>
        </form>

      </section>
    {% endfor %}
  </section>
{% endblock %}