{% extends 'template.html' %}

{% block content %}
  <section class="eventslist">
    {% for event in events %}
      <form action="register.html" method="GET">
      <button class='event__button' type="submit" name="event" value="{{ event['event_id'] }}">
        <h1>{{ event["title"] }}</h1>
        <p>{{ event["desc"] }}</p>
        {% set selection = selections[event["event_id"]] %}
        <div class="event__info">
          <time class="events__date" datetime="{{ event["isodate"] }}">{{ event["shortdate"] }} •
            <span class="event__time">{{ event["start"] }}-{{ event["end"] }}</span></time>
          <div class="cars">
            <img class="cars__pic" src="{{ url_for('static', filename='car-svgrepo-com.svg') }}" alt="car image">
            <p class="cars__coverage">24/27</p>
          </div>
        </div>
      </button>
      </form>
    {% endfor %}
  </section>
{% endblock %}