{% extends 'template.html' %}

{% block content %}
  <section class="event">
    <h1 class="event__title">{{ event["title"] }}</h1>
    <p>{{ event["desc"] }}</p>
    <div class="event__info">
      <time class="events__date" datetime="{{ event["isodate"] }}">{{ event["shortdate"] }} •
        <span class="event__time">{{ event["start"] }}-{{ event["end"] }}</span></time>
      <div class="cars">
        <img class="cars__pic" src="{{ url_for('static', filename='car-svgrepo-com.svg') }}" alt="car image">
        <p class="cars__coverage">24/27</p>
      </div>
    </div>

  </section>
  <h2>inschrijven</h2>
  <form action={{ url_for('home') }}>
    <input type="hidden" name="name" value={{ event['event_id'] }}>
    <label>Op reservelijst <input type="checkbox" name="reserve"></label>
    <label>Aantal personen: <input type="number"></label>
    <button name="action" value="register">aanmelden</button>
    <button name="action" value="unregister">afmelden</button>

  </form>
{% endblock %}