{% extends 'template.html' %}

{% block content %}
  <section class="event__button">
        <h1>{{ event["title"] }}</h1>
        <p>{{ event["desc"] }}</p>
        <div class="event__info">
          <time class="events__date" datetime="{{ event["isodate"] }}">{{ event["shortdate"] }} •
            <span class="event__time">{{ event["start"] }}-{{ event["end"] }}</span></time>
          <div class="cars">
            <img class="cars__pic" src="{{ url_for('static', filename='car-svgrepo-com.svg') }}" alt="car image">
            <p class="cars__coverage">24/27</p>
          </div>
        </div>
  <section>
  <h2>inschrijven</h2>
  <form action={{ url_for('home') }}>
    <input type="hidden" name="name" value="23f2a">
    <label>Aantal personen: <input type="number"></label>
    <button>aanmelden</button>

  </form>
  </section>
{% endblock %}