{% from "macro/nav.html" import header %}

<!DOCTYPE html>
<html lang="nl">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;300;400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"/>
    <link rel="icon" href="{{ url_for('static', filename='car-csvrepo-com.svg') }}"/>
</head>
<body>
  {{ header(name,"") }}
  {% block content %}
      <main>placeholder</main>ab
  {% endblock %}
</body>
</html>

